{% import "_includes/forms" as forms %}

{{ forms.hidden({
    id: presentation.handle ~ 'handle',
    name: presentation.handle ~ '[handle]',
    value: presentation.handle
}) }}

<div id="{{ presentation.handle }}" class="block-presentation">
    {{ forms.selectField({
        id: presentation.handle ~ '-presentation',
        instructions: 'Select a presentation for this entry'|t,
        name: presentation.handle ~ '[template]',
        value: presentation.template,
        options: {'0': 'Select a presentation'|t}|merge(templateOptionList)
    }) }}
</div>
